<p>Hi {{username}},</p>
<p>We are excited to have you on-board and there's just one step to verify if it's actually your e-mail address.</p>
<p> Click on <a href="{{ url }}" target="_blank">this link</a> to verify your account. This link will be expired in 24 hours.</p>